<header>
  <h1>Welcome to Online Examinations</h1>
</header>

<div class="container">
  <div>
<%= link_to "Student Login", new_student_session_path %>
  </div><div>
<%= link_to "Student Signup", new_student_registration_path %>
  </div><div>
<%= link_to "Teacher Login", new_teacher_session_path %>
  </div><div>
<%= link_to "Teacher Signup", new_teacher_registration_path %>
</div>